.playerbar {
    grid-template-areas:
    "button song controls track settings volume";
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 30px 300px 250px auto 100px 150px;
    gap: 2rem;
    align-items: center;
    // display: flex;
    // flex-direction: row;
    // justify-content: space-between;
    // align-items: center;
    padding: 0.1rem 1rem;
    // background-color: thistle;

    .fullscreen-button {
        grid-area: button;
        svg {
            path[class="fa-primary"] {
                fill: #5b3e96;
            }
            path[class="fa-secondary"] {
                fill: #5b3e96;
            }
        }
        cursor: pointer;
    }

    .song-card {
        display: flex;

        img {
            width: 90px;
            height: 80px;
            object-fit: fill;
            border-radius: 0.4rem;
        }

        .song-details {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            color: #5b3e96;
            margin: 0.2rem 0;
            font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans';

            div:nth-child(1) {
                font-weight: 900;
            }
        }
    }

    .media-play-controls {
        grid-area: controls;
        display: flex;
        justify-content: space-around;
        
        svg {
            width: 10%;
            path[class="fa-primary"] {
                fill: #5b3e96c9;
            }
            path[class="fa-secondary"] {
                fill: #5b3e96;
            }            
        }
    }

    input[name="track"] {
        grid-area: track;
        width: 100%;
        background-color: whitesmoke;
        height: 4px;
        cursor: pointer;
        outline: none;
        border: none;

        &::-moz-range-progress, &::-webkit-slider-runnable-track {
            height: 6px;
            background-color: #5b3e96;
        }
        
        &::-moz-range-thumb{
            outline: none;
            border: none;
            background-color: #5b3e96;
            border-radius: 50%;
        }

        &:focus {
            outline: 1px solid whitesmoke;
        }
    }
}