.playerbar {
    grid-template-areas:
    "song controls track settings volume";
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 250px 150px auto 80px 150px;
    gap: 1.5rem;
    align-items: center;
    padding: 0.1rem 0.5rem;
    border-top: 2px solid black;

    .song-card {
        display: flex;
        overflow: hidden;

        img {
            width: 90px;
            height: 80px;
            object-fit: fill;
            border-radius: 0.4rem;
        }

        .song-details {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            color: #5b3e96;
            margin: 0.2rem 0;
            font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans';

            div:nth-child(1) p {
                font-weight: 900;
            }
            div:nth-child(2) p {
                font-weight: normal;
            }
        }
    }

    .media-play-controls {
        grid-area: controls;
        display: flex;
        justify-content: space-around;
        
        svg {
            width: 15%;
            path[class="fa-primary"] {
                fill: #5b3e96c9;
            }
            path[class="fa-secondary"] {
                fill: #5b3e963a;
                opacity: 1;
            }  
            cursor: pointer;    
        }
         
        svg:focus {
            border: 1px solid whitesmoke;
        }
    }

    .song-progress-bar {
        grid-area: track;
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            font-family: Arial, Helvetica, sans-serif;
            color: #5b3e96;
            font-weight: bold;
        }

        .track {
            flex: 0.95;
            display: flex;
            align-items: center;
        }

        input[name="track"] {
            width: 100%;
            background-color: whitesmoke;
            height: 4px;
            cursor: pointer;
            outline: none;
            border: none;
    
            &::-moz-range-progress, &::-webkit-slider-runnable-track {
                height: 6px;
                background-color: #5b3e96;
            }
            
            &::-moz-range-thumb{
                transform: scale(1.1);
                outline: none;
                border: none;
                background-color: #5b3e96;
                border-radius: 50%;
            }
    
            &:focus {
                &::-moz-range-thumb {
                    outline: 1px solid whitesmoke;
                }
            }
        }
    }

    .playback-settings {
        grid-area: settings;
        display: flex;
        justify-content: space-around;
        align-items: center;

        svg {
            cursor: pointer;
            flex: 0.35;
        }

        .shuffle-on {
            path[class="fa-secondary"], path[class="fa-primary"] {
                fill: #5b3e96;
            }
        }
        .repeat-on, .repeat-one {
            path[class="fa-secondary"], path[class="fa-primary"] {
                fill: #5b3e96;
            }
        }
    }

    .volume {
        grid-area: volume;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        svg {
            cursor: pointer;
            flex: 0.3;
            height: 50px;
            // width: 50px;
            padding: 0.5rem;

            path[class="fa-secondary"], path[class="fa-primary"] {
                fill: #5b3e96;
            }
        }
        .vol {
            flex: 0.65;
            display: flex;
            align-items: center;
            input{
                width: 100%;
                height: 4px;
                cursor: pointer;
                
                &::-moz-range-progress {
                    background-color: #5b3e96;
                    height: 5px;
                }
                &::-moz-range-thumb {
                    border: none;
                    outline: none;
                    border-radius: 50%;
                }

                &:focus {
                    &::-moz-range-thumb {
                        outline: 1px solid whitesmoke;
                    }
                }
            }
        }        
    }
}