.song-card {
    display: flex;
    overflow: hidden;
    position: relative;
    top: 0;
    transform: translateY(5%);

    img {
        width: 90px;
        height: 80px;
        object-fit: fill;
        border-radius: 0.4rem;
    }

    svg[class="play-icon"] {
        position: absolute;
        width: 50px;
        height: 50px;
        top: 0;
        left: 0;
        transform: translate(50%, 35%);
        fill: whitesmoke;
        visibility: hidden;
    }

    &:hover {
        svg {
            visibility: visible;
        }
    }

    .song-details {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        color: #5b3e96;
        margin: 0.2rem 0;
        font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans';

        div:nth-child(1) p {
            font-weight: 900;
        }
        div:nth-child(2) p {
            font-weight: normal;
        }
    }
}