*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #232533;
  overflow: hidden;
}

.theme {
  position: relative;
}

.theme .dark-theme-btn {
  background-color: antiquewhite;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 40px;
  height: 20px;
  border-radius: 0.9rem;
  cursor: pointer;
}

.theme .dark-theme-btn::after {
  background-color: #232533;
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  -webkit-transform: translate(10%, 15%);
          transform: translate(10%, 15%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  cursor: pointer;
  animation: switchslide 500ms ease-in 1 reverse;
}

.theme .light-theme-btn {
  background-color: #232533;
  position: absolute;
  top: 0;
  left: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 40px;
  height: 20px;
  border-radius: 0.9rem;
  cursor: pointer;
}

.theme .light-theme-btn::after {
  background-color: #f5ddbe;
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  -webkit-transform: translate(10%, 15%);
          transform: translate(10%, 15%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-animation: switchslide 500ms ease-in 1 forwards;
          animation: switchslide 500ms ease-in 1 forwards;
}

.theme .theme-layer, .theme .light {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-color: antiquewhite;
  border-radius: 50%;
  pointer-events: none;
  -webkit-transition: -webkit-transform 500ms linear;
  transition: -webkit-transform 500ms linear;
  transition: transform 500ms linear;
  transition: transform 500ms linear, -webkit-transform 500ms linear;
  mix-blend-mode: difference;
}

.theme .light {
  -webkit-transform: scale(500);
          transform: scale(500);
}

@-webkit-keyframes switchslide {
  0% {
  }
  50% {
    width: 35px;
    border-radius: 10px;
  }
  75% {
    left: 30%;
    width: 25px;
  }
  100% {
    left: 50%;
    width: 17px;
    border-radius: 50%;
  }
}

@keyframes switchslide {
  0% {
  }
  50% {
    width: 35px;
    border-radius: 10px;
  }
  75% {
    left: 30%;
    width: 25px;
  }
  100% {
    left: 50%;
    width: 17px;
    border-radius: 50%;
  }
}

header {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #232533;
}

header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #5b3e96;
}

header svg, header .text {
  z-index: 1;
}

.chatbox {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "chatbox-header" "chat-messages" "typebox";
  -ms-grid-rows: 60px auto 40px;
      grid-template-rows: 60px auto 40px;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  max-height: 680px;
  font-family: Arial, Helvetica, sans-serif;
  isolation: isolate;
}

.chatbox .chat-header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: chatbox-header;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1b1d2b;
  color: #5b3e96;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}

.chatbox .post, .chatbox .received {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0.5rem 0;
}

.chatbox .post .avatar, .chatbox .received .avatar {
  color: #5b3e96;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chatbox .post .avatar span, .chatbox .received .avatar span {
  font-weight: bolder;
  font-style: italic;
}

.chatbox .post p, .chatbox .received p {
  text-align: end;
  text-transform: lowercase;
  max-width: 320px;
  padding: 0rem 0.5rem;
  margin: 0 0.1rem;
  color: whitesmoke;
  border-radius: 0.2rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.chatbox .received {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.chatbox .received .avatar {
  color: crimson;
}

.chatbox .received p {
  text-align: start;
}

.chatbox .message-list {
  padding: 0 0.5rem;
  height: 100%;
  overflow-y: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  scrollbar-color: #5b3e96 #1b1d2b;
  scrollbar-color: #ccc #1b1d2b;
  scrollbar-width: thin;
}

.chatbox .message-list::-webkit-scrollbar {
  width: 0.25rem;
}

.chatbox .message-list::-webkit-scrollbar-track {
  background: #1b1d2b;
}

.chatbox .message-list::-webkit-scrollbar-thumb {
  background: #6649b8;
}

.chatbox form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chatbox form input[type="submit"] {
  -webkit-box-flex: 0.3;
      -ms-flex: 0.3;
          flex: 0.3;
  height: 100%;
  font-weight: 700;
  color: #5b3e96;
  background-color: #1b1d2b;
  outline: none;
  border: none;
  cursor: pointer;
}

.chatbox form input[type="text"] {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  height: 100%;
  outline: none;
  border: none;
  padding: 0 0.3rem;
  border-radius: 0.1rem;
  background-color: #e5e5e5;
}

.chatbox form input:focus {
  outline: 2px solid #5b3e96;
}

.scroll-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 0.5rem;
}

.scroll-wrapper .scroller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.scroll-wrapper .scroller:hover {
  -webkit-animation: scroller 5s linear 0s infinite normal forwards;
          animation: scroller 5s linear 0s infinite normal forwards;
}

.scroll-wrapper .scroller:hover .scrolling-text-1 {
  padding-right: 0.5rem;
  position: relative;
}

.scroll-wrapper .scroller:hover .scrolling-text-2 {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

@-webkit-keyframes scroller {
  to {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@keyframes scroller {
  to {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.song-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.song-card img {
  width: 90px;
  height: 80px;
  -o-object-fit: fill;
     object-fit: fill;
  border-radius: 0.4rem;
}

.song-card .song-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #5b3e96;
  margin: 0.2rem 0;
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans';
}

.song-card .song-details div:nth-child(1) p {
  font-weight: 900;
}

.song-card .song-details div:nth-child(2) p {
  font-weight: normal;
}

.playerbar {
      grid-template-areas: "song controls track settings volume";
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 250px 150px auto 80px 150px;
      grid-template-columns: 250px 150px auto 80px 150px;
  gap: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.1rem 0.5rem;
  border-top: 2px solid black;
}

.playerbar .media-play-controls {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: controls;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.playerbar .media-play-controls svg {
  width: 15%;
  cursor: pointer;
}

.playerbar .media-play-controls svg path[class="fa-primary"] {
  fill: #5b3e96c9;
}

.playerbar .media-play-controls svg path[class="fa-secondary"] {
  fill: #5b3e963a;
  opacity: 1;
}

.playerbar .media-play-controls svg:focus {
  border: 1px solid whitesmoke;
}

.playerbar .song-progress-bar {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: track;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.playerbar .song-progress-bar p {
  font-family: Arial, Helvetica, sans-serif;
  color: #5b3e96;
  font-weight: bold;
}

.playerbar .song-progress-bar .track {
  -webkit-box-flex: 0.95;
      -ms-flex: 0.95;
          flex: 0.95;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.playerbar .song-progress-bar input[name="track"] {
  width: 100%;
  background-color: whitesmoke;
  height: 4px;
  cursor: pointer;
  outline: none;
  border: none;
}

.playerbar .song-progress-bar input[name="track"]::-moz-range-progress, .playerbar .song-progress-bar input[name="track"]::-webkit-slider-runnable-track {
  height: 6px;
  background-color: #5b3e96;
}

.playerbar .song-progress-bar input[name="track"]::-moz-range-thumb {
  transform: scale(1.1);
  outline: none;
  border: none;
  background-color: #5b3e96;
  border-radius: 50%;
}

.playerbar .song-progress-bar input[name="track"]:focus::-moz-range-thumb {
  outline: 1px solid whitesmoke;
}

.playerbar .playback-settings {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: settings;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.playerbar .playback-settings svg {
  cursor: pointer;
  -webkit-box-flex: 0.35;
      -ms-flex: 0.35;
          flex: 0.35;
}

.playerbar .playback-settings .shuffle-on path[class="fa-secondary"], .playerbar .playback-settings .shuffle-on path[class="fa-primary"] {
  fill: #5b3e96;
}

.playerbar .playback-settings .repeat-on path[class="fa-secondary"], .playerbar .playback-settings .repeat-on path[class="fa-primary"], .playerbar .playback-settings .repeat-one path[class="fa-secondary"], .playerbar .playback-settings .repeat-one path[class="fa-primary"] {
  fill: #5b3e96;
}

.playerbar .volume {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: volume;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.playerbar .volume svg {
  cursor: pointer;
  -webkit-box-flex: 0.3;
      -ms-flex: 0.3;
          flex: 0.3;
  height: 50px;
  padding: 0.5rem;
}

.playerbar .volume svg path[class="fa-secondary"], .playerbar .volume svg path[class="fa-primary"] {
  fill: #5b3e96;
}

.playerbar .volume .vol {
  -webkit-box-flex: 0.65;
      -ms-flex: 0.65;
          flex: 0.65;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.playerbar .volume .vol input {
  width: 100%;
  height: 4px;
  cursor: pointer;
}

.playerbar .volume .vol input::-moz-range-progress {
  background-color: #5b3e96;
  height: 5px;
}

.playerbar .volume .vol input::-moz-range-thumb {
  border: none;
  outline: none;
  border-radius: 50%;
}

.playerbar .volume .vol input:focus {
  outline: none;
}

.playerbar .volume .vol input:focus::-moz-range-thumb {
  outline: 1px solid whitesmoke;
}

.songs-library {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0.1rem 0 0.1rem 0;
  overflow-y: scroll;
  list-style: none;
  scrollbar-color: #5b3e96 #1b1d2b;
  scrollbar-color: #ccc #1b1d2b;
  scrollbar-width: thin;
}

.songs-library li {
  padding: 0.5rem 0.5rem;
  border-bottom: 1px solid slategray;
  cursor: pointer;
}

.songs-library li:hover {
  background-color: rgba(245, 245, 245, 0.8);
}

.songs-library .selected-song {
  background-color: whitesmoke !important;
}

.songs-library::-webkit-scrollbar {
  width: 0.25rem;
}

.songs-library::-webkit-scrollbar-track {
  background: #1b1d2b;
}

.songs-library::-webkit-scrollbar-thumb {
  background: #6649b8;
}

.App {
  height: 99vh;
  padding: 0 5rem;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header header" "chatbox songs" "player player";
  -ms-grid-rows: 70px auto 100px;
      grid-template-rows: 70px auto 100px;
  -ms-grid-columns: clamp(420px, 32%, 420px) auto;
      grid-template-columns: clamp(420px, 32%, 420px) auto;
  gap: 0.5rem;
}

.App svg, .App .text {
  z-index: 1;
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
}

.chatbox {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: chatbox;
}

.playerbar {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: player;
}

.songs-library {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: songs;
}
/*# sourceMappingURL=app.css.map */