*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #232533;
  overflow: hidden;
}

.theme {
  position: relative;
}
.theme .dark-theme-btn {
  background-color: antiquewhite;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50%);
  width: 40px;
  height: 20px;
  border-radius: 0.9rem;
  cursor: pointer;
}
.theme .dark-theme-btn::after {
  background-color: #232533;
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(10%, 15%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  cursor: pointer;
  animation: switchslide 500ms ease-in 1 reverse;
}
.theme .light-theme-btn {
  background-color: #232533;
  position: absolute;
  top: 0;
  left: 100%;
  transform: translateY(-50%);
  width: 40px;
  height: 20px;
  border-radius: 0.9rem;
  cursor: pointer;
}
.theme .light-theme-btn::after {
  background-color: #f5ddbe;
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(10%, 15%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-animation: switchslide 500ms ease-in 1 forwards;
          animation: switchslide 500ms ease-in 1 forwards;
}
.theme .theme-layer, .theme .light {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-color: antiquewhite;
  border-radius: 50%;
  pointer-events: none;
  transition: transform 500ms linear;
  mix-blend-mode: difference;
}
.theme .light {
  transform: scale(500);
}

@-webkit-keyframes switchslide {
  50% {
    width: 35px;
    border-radius: 10px;
  }
  75% {
    left: 30%;
    width: 25px;
  }
  100% {
    left: 50%;
    width: 17px;
    border-radius: 50%;
  }
}

@keyframes switchslide {
  50% {
    width: 35px;
    border-radius: 10px;
  }
  75% {
    left: 30%;
    width: 25px;
  }
  100% {
    left: 50%;
    width: 17px;
    border-radius: 50%;
  }
}
header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #232533;
}
header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #5b3e96;
}
header svg, header .text {
  z-index: 1;
}

.chatbox {
  display: grid;
  grid-template-areas: "chatbox-header" "chat-messages" "typebox";
  grid-template-rows: 60px auto 40px;
  grid-template-columns: 1fr;
  max-height: 680px;
  font-family: Arial, Helvetica, sans-serif;
  isolation: isolate;
}
.chatbox .chat-header {
  grid-area: chatbox-header;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1b1d2b;
  color: #5b3e96;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}
.chatbox .post, .chatbox .received {
  display: flex;
  align-items: flex-start;
  margin: 0.4rem 0;
}
.chatbox .post .avatar, .chatbox .received .avatar {
  width: 45px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: cadetblue;
}
.chatbox .post p, .chatbox .received p {
  max-width: 320px;
  padding: 0.5rem 0.2rem;
  margin: 0 0.3rem;
  color: black;
  background-color: cadetblue;
  border-radius: 0.2rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.chatbox .received {
  flex-direction: row-reverse;
}
.chatbox .received .avatar, .chatbox .received p {
  background-color: chocolate;
}
.chatbox .message-list {
  padding: 0 0.5rem;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  scrollbar-color: #5b3e96 #1b1d2b;
  scrollbar-color: #ccc #1b1d2b;
  scrollbar-width: thin;
}
.chatbox .message-list::-webkit-scrollbar {
  width: 0.25rem;
}
.chatbox .message-list::-webkit-scrollbar-track {
  background: #1b1d2b;
}
.chatbox .message-list::-webkit-scrollbar-thumb {
  background: #6649b8;
}
.chatbox form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chatbox form input[type=submit] {
  flex: 0.3;
  height: 100%;
  font-weight: 700;
  color: #5b3e96;
  background-color: #1b1d2b;
  outline: none;
  border: none;
  cursor: pointer;
}
.chatbox form input[type=text] {
  flex: auto;
  height: 100%;
  outline: none;
  border: none;
  padding: 0 0.3rem;
  border-radius: 0.1rem;
  background-color: #e5e5e5;
}
.chatbox form input:focus {
  outline: 2px solid #5b3e96;
}

.App {
  height: 99vh;
  padding: 0 5rem;
  display: grid;
  grid-template-areas: "header header" "chatbox songs" "blank player";
  grid-template-rows: 70px auto 100px;
  grid-template-columns: clamp(420px, 32%, 420px) auto;
  gap: 0.5rem;
}
.App svg, .App .text {
  z-index: 1;
}

header {
  grid-area: header;
}

.chatbox {
  grid-area: chatbox;
}/*# sourceMappingURL=app.css.map */